<!-- Code created with help from Code Institute Boutique Ado tutorial -->
<div class="container-fluid">
<div class="collapse navbar-collapse" id="main-nav" style="background-color: #274E13;">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Campsite dropdown menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="campsite-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Campsite
            </a>
            <!-- Options to sort campsite products by -->
            <div class="dropdown-menu border-1" aria-labelledby="campsite-link">
                <a href="{% url 'products' %}?category=camping" class="dropdown-item">Camping</a>
                <a href="{% url 'products' %}?category=caravanning" class="dropdown-item ">Caravanning</a>
                <a href="{% url 'products' %}?category=glamping" class="dropdown-item ">Glamping</a>
                <a href="{% url 'products' %}?category=extras" class="dropdown-item">Extras</a>
            </div>
        </li>
        <!-- Activities dropdown menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="activities-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activities
            </a>
            <!-- Options to sort activities products by -->
            <div class="dropdown-menu border-1" aria-labelledby="activities-link">
                <a href="{% url 'products' %}?category=land" class="dropdown-item">Land-based</a>
                <a href="{% url 'products' %}?category=water" class="dropdown-item">Water-based</a>
                <a href="{% url 'products' %}?category=wheels" class="dropdown-item">Wheels-based</a>
            </div>
        </li>
        <!-- Courses dropdown menu -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Courses
            </a>
            <!-- Options to sort courses products by -->
            <div class="dropdown-menu border-1" aria-labelledby="courses-link">
                <a href="{% url 'products' %}?category=leader" class="dropdown-item">Leader qualifications</a>
                <a href="{% url 'products' %}?category=skills" class="dropdown-item">skills qualifications</a>
                <a href="{% url 'products' %}?category=first_aid" class="dropdown-item">First aid</a>
            </div>
        </li>
    </ul>
</div>
</div>